.App {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  align-content: center;
  justify-content: center;
}

.task-manager {
  display: block;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  background-color: "black";
  margin-top: 30px;
  width: 30rem;
}



#addTaskBtn {
  border-radius: 50px;
  font-weight: bold;
}